{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itaque e contrario moderati aequabilesque habitus, affectiones ususque corporis apti esse ad naturam videntur. Est enim effectrix multarum et magnarum voluptatum. Aeque enim contingit omnibus fidibus, ut incontentae sint. Quodsi ipsam honestatem undique pertectam atque absolutam. Duo Reges: constructio interrete. Non est ista, inquam, Piso, magna dissensio. Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum anteponebas?</p>
{% endblock %}